<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_bd_fincaoropendula_Connection" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=yeydel; database=bd_fincaoropendula;persist security info=true;CharSet=utf8;" />
        <add name="localhost_Connection" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=; password=; database=bd_fincaoropendula;persist security info=true;CharSet=utf8;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>